# Auto detect text files and perform LF normalization
* text=auto

*.c linguist-detectable=true
*.h linguist-detectable=true

*.cpp linguist-detectable=true
*.hpp linguist-detectable=true
*.cs linguist-language=C
*.csproj linguist-detectable=true
*.sln linguist-detectable=true
*.java linguist-detectable=true
*.py linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.ts linguist-detectable=true
*.go linguist-detectable=true
*.js linguist-detectable=true
*.rs linguist-detectable=true
*.swift linguist-detectable=true
*.kt linguist-detectable=true
*.php linguist-detectable=true
*.rb linguist-detectable=true
*.sh linguist-detectable=true
*.bat linguist-detectable=true
